{% extends "main.html" %}

{% block content %}
    {{ super() }}
    <massilia data="{{ config.extra.massilia }}"></massilia>
{% endblock %}

{% block libs %}
    {{ super() }}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script defer>
        import Reveal from 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js';
        import Markdown from 'reveal.js/plugin/markdown/markdown.esm.js';

        let deck = new Reveal({
        plugins: [ Markdown ]
        })
        deck.initialize();
    </script>
    
{% endblock %}
